@model IEnumerable<OrganicosEmCasa.Models.Carrinho>

@{
    ViewBag.Title = "Carrinho de Compras";
    var carrinho = new OrganicosEmCasa.Models.Carrinho();

    if (Model != null && Model.Any())
    {
        carrinho = Model.First();
    }
}
<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="block">
                    <div class="media">
                        <div class="media-body">
                            <center><h4 class="media-heading">@Html.ActionLink("Limpar Carrinho", "LimparCarrinho", "Carrinho")</h4></center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block">
                    <div class="media">
                        <div class="media-body">
                            <center><h4 class="media-heading">@Html.ActionLink("Continuar Comprando", "/../Produtoes")</h4></center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block">
                    <div class="media">
                        <div class="media-body">
                            @if (carrinho.ListaDeItens!= null && carrinho.ListaDeItens.Count() != 0)
                            {
                                    <center><h4 class="media-heading">@Html.ActionLink("Finalizar Compra", "Create", "Clientes")</h4></center>
                            }
                            else
                            { 
                                    <center><h4 class="media-heading">@Html.ActionLink("Finalizar Compra", "Carrinho", "Carrinho")</h4></center>
                            }
                        </div>	<!-- End of /.media-body -->
                    </div>	<!-- End of /.media -->
                </div>	<!-- End of /.block -->
            </div> <!-- End of /.col-md-4 -->
        </div>	<!-- End of /.row -->
    </div>	<!-- End of /.container -->
</section>
<div class="block">
    <BR>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor</th>
                <th scope="col">Total</th>
                <th scope="col">...</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in carrinho.ListaDeItens)
                {
            <tr>
                <td scope="col"><img src="~/Content/images/@Html.DisplayFor(modelItem => item.Produto.URLImagem)" alt="" style="width: 100px;"></td>
                <td scope="col"> @Html.DisplayFor(modelItem => item.Produto.Nome)</td>
                <td scope="col"> @Html.DisplayFor(modelItem => item.Quantidade)</td>
                <td scope="col"> @Html.DisplayFor(modelItem => item.Produto.Preco)</td>
                <td scope="col"> @Html.DisplayFor(modelItem => item.ValorTotal)</td>
                <td scope="col">@Html.ActionLink("Remover", "Remover", new { id = item.Produto.ID })</td>
            </tr>
                }
                <tr>
                    <td colspan="6">
                        <h3 class="text-right">Valor Total da Compra: R$ @Html.DisplayFor(modelItem => carrinho.ValorTotal)</h3>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="6"><center><h3>Seu carrinho está vazio!</h3></center></td>
                </tr>
            }
        </tbody>
    </table>
</div>

