@model IEnumerable<OrganicosEmCasa.Models.Venda>

@{
    ViewBag.Title = "Carrinho de Compras";

    var venda = Model.First();
}
<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="media">
                        <div class="media-body">
                            <center><h4 class="media-heading">Compra realizada com sucesso!!! Anote o número do seu pedido #@Html.DisplayFor(modelItem => venda.ID)</h4></center>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of /.col-md-12 -->
        </div>	<!-- End of /.row -->
    </div>	<!-- End of /.container -->
</section>
<BR>
<section id="catagorie">
    <div class="container">
        <div class="row">
            <div class="col-md-5 pull-left">
                <div class="block">
                    <div class="block-heading">
                        <h2>Dados do Pedido</h2>
                    </div>
                    <div class="row">
                        <div class="caption">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Produto</th>
                                        <th scope="col">Quantidade</th>
                                        <th scope="col">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in venda.ListaProdutos)
                                    {
                                        <tr>
                                            <td scope="col"> @Html.DisplayFor(modelItem => item.Produto.Nome)</td>
                                            <td scope="col"> @Html.DisplayFor(modelItem => item.Quantidade)</td>
                                            <td scope="col"> @Html.DisplayFor(modelItem => item.Preco)</td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>	<!-- End of /.row -->
                </div>	<!-- End of /.block -->
            </div>
            <div class="col-md-5 pull-right">
                <div class="block">
                    <div class="block-heading">
                        <h2>Dados de entrega</h2>
                    </div>
                    <div class="row">
                        <div class="caption">
                            <p><label>Nome:&nbsp;</label>@Html.DisplayFor(modelItem => venda.Cliente.Nome)</p>
                            <p><label>Endereço:&nbsp;</label>@Html.DisplayFor(modelItem => venda.Cliente.Endereco) - @Html.DisplayFor(modelItem => venda.Cliente.Cidade)/@Html.DisplayFor(modelItem => venda.Cliente.UF)</p>
                            <p><label>Telefone:&nbsp;</label> @Html.DisplayFor(modelItem => venda.Cliente.Telefone)</p>
                        </div>
                    </div>	<!-- End of /.row -->
                </div>	<!-- End of /.block -->
            </div>
        </div>	<!-- End of /.row -->
    </div>	<!-- End of /.container -->
</section>	<!-- End of Section -->